div{
    position: absolute;
    background-color: rgb(226, 226, 226);
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 7px;
    z-index: 82;
}
h1{
    font-weight: normal;
    font-size: 42px;
    font-family: "Pacifico", serif;
    color: rgb(71, 71, 71);
    line-height: 0.429;
    text-align: left;
    position: absolute;
    left: 230.848px;
    top: 53.491px;
    z-index: 83;
}


